@model BookStoreCatalog_web.Models.DTO.BookModelDTO

@{
    ViewData["Title"] = "DeleteBook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>DeleteBook</h1>
<form method="post" asp-action="DeleteBook">

    <div class="container border-3 p-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <input hidden asp-for="Id" />

        <div class="row">
            <h2 class="text-info"> Delete a Book</h2>
        </div>

        <div class="row mt-2">
            <div class="col-md-6">
                <label class="form-label">Title</label>
                <input asp-for="Title" disabled class="form-control" />
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-6">
                <label class="form-label">Author</label>
                <input asp-for="Author" disabled class="form-control" />
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-6">
                <label class="form-label">Description</label>
                <textarea asp-for="Description" disabled class="form-control"></textarea>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-6">
                <label class="form-label">idBook</label>
                <input asp-for="idBook" disabled class="form-control" />
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-6">
                <label class="form-label">AuthorURL</label>
                <input asp-for="AuthorUrl" disabled class="form-control" />
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-6">
                <label class="form-label">TitleURL</label>
                <input asp-for="TitleUrl" disabled class="form-control" />
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-6">
                <label class="form-label">Description</label>
                <input asp-for="DescriptionUrl" disabled class="form-control" />
            </div>
        </div>
        <div class="d-grid gap-2 d-md-block mt-2">
            <button type="submit" class="btn btn-danger">Delete</button>
            <a asp-controller="Book" asp-action="IndexBook" class="btn btn-success"> Back</a>
        </div>

    </div>

</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

